<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smj.service.mapper.NationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.smj.service.entity.Nation">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="parent" property="parent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, province, city, district, parent
    </sql>

    <!--结果集-->
    <resultMap id="mapVo" type="com.smj.service.entity.NationVo">
        <id column="id" property="id" />
        <result column="provinceName" property="name" />

        <collection property="list" ofType="com.smj.service.entity.NationVo">
            <id column="cid" property="id" />
            <result column="cityName" property="name" />
        </collection>
    </resultMap>

    <select id="findAll" resultMap="mapVo">
        SELECT
            p.id,
            p.province provinceName,
            c.id cid,
            c.city cityName
        FROM
            nation p
        LEFT JOIN nation c ON p.id = c.parent
        WHERE
            p.parent = 1;
    </select>

</mapper>
